<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anvelopers.happymorning">

    <uses-permission android:name="android.permission.INTERNET"/>
    
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1290189764249392~3596318909"/>

        <activity android:name="com.anvelopers.happymorning.showallluser.PostListActivity"></activity>
        <activity android:name="com.anvelopers.happymorning.language.LanguageActivity" />
        <activity android:name="com.anvelopers.happymorning.HomeActivity.UserHomeActivity" />
        <activity android:name="com.anvelopers.happymorning.UserDetails.UserDetailsActivity" />
        <activity android:name="com.anvelopers.happymorning.SliderView.OnboardingActivity" />
        <activity android:name="com.anvelopers.happymorning.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>